@model List<Automated_Wedding_Application.Models.PlannerModel>

@{
    ViewData["Title"] = "GetCartDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center m-3"> Your Bookings</h1>
@if(Model.Count==0){

    <h4 class="text-center">No orders are placed yet!!</h4>
}
else
{
@foreach(var plannermodel in Model)
{


<div class="card-body">
    <div class="row card-text">

        <div class=" col-3">
            @if (plannermodel.ServicesModel.Serviceimage != null)
            {
                <img class="card-img-top" src=@plannermodel.ServicesModel.Serviceimageurl alt="Card image cap">
            }
            else
            {
                @if (plannermodel.ServicesModel.ServiceName == "0")
                {
                    <img class="card-img-top " src="/images/bouquets.jpg" alt="Card image cap">
                }
                @if (plannermodel.ServicesModel.ServiceName == "1")
                {
                    <img class="card-img-top" src="/images/Decoration.jpg" alt="Card image cap">
                }
                @if (plannermodel.ServicesModel.ServiceName == "2")
                {
                    <img class="card-img-top" src="/images/Catering.jpg" alt="Card image cap" width="70" height="70">
                }
                @if (plannermodel.ServicesModel.ServiceName == "3")
                {
                    <img class="card-img-top" src="/images/Makeup.jpg" alt="Card image cap" width="70" height="70">
                }
                @if (plannermodel.ServicesModel.ServiceName == "4")
                {
                    <img class="card-img-top" src="/images/photography.jpg" alt="Card image cap" width="70" height="70">
                }
                @if (plannermodel.ServicesModel.ServiceName == "5")
                {
                    <img class="card-img-top" src="/images/winery.jpg" alt="Card image cap" width="70" height="70">
                }
                @if (plannermodel.ServicesModel.ServiceName == "6")
                {
                    <img class="card-img-top" src="/images/musicband.jpg" alt="Card image cap">
                }
                @if (plannermodel.ServicesModel.ServiceName == "7")
                {
                    <img class="card-img-top" src="/images/priest.jpg" alt="Card image cap">
                }
            }
        </div>
        <div class=" col-6">
            <div><b> Planner Name : </b> @plannermodel.PlannerName</div>
            <div><b>Service Name :</b>@((PlannerServices)Int32.Parse(plannermodel.ServicesModel.ServiceName))</div>
            <div><b>Cost:</b>@plannermodel.ServicesModel.Cost</div>
            <div><b>Quantity:</b>@plannermodel.customerCart.Quantity</div>
            <div><b>Delivery Date:</b>@plannermodel.customerCart.DeliveryDate</div>
            <div><b>Status:</b>@plannermodel.customerCart.Deliverystatus</div>
        </div>
        <div class=" col-3">
            <a class="btn  bg-danger text-center m-2" href=@Url.Action("CancelOrder", "Customer", new { plannerid= plannermodel.PlannerId, cartid= plannermodel.customerCart.CartId  })>Cancel Order</a>
        </div>

    </div>
</div>
}
}


<div class="row justify-content-center">

    <a class="btn  text-center m-2" id="bgcolor1" href=@Url.Action("Detail", "Customer")>Back to Services</a>
</div>



