@model Automated_Wedding_Application.Models.PlannerModel

@{
    ViewData["Title"] = "Planner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container justify-content-center">


    @if (ViewData["planner"].ToString() == "PlannerNotUpdated")
    {
        <h4 class="text-center m-3">Provide  your Details below</h4>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form asp-action="Profile" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
            <label asp-for="PlannerId" class="control-label"></label>
            <input asp-for="PlannerId" class="form-control" />
            <span asp-validation-for="PlannerId" class="text-danger"></span>
        </div>*@
                    <div class="form-group m-4">

                        <input asp-for="PlannerName" class="form-control" placeholder="Enter your Wedding Planning Name" />
                        <span asp-validation-for="PlannerName" class="text-danger"></span>
                    </div>
                    <div class="form-group m-4">

                        <textarea asp-for="About" class="form-control" placeholder="About Your Wedding Planning"></textarea>
                        <span asp-validation-for="About" class="text-danger"></span>
                    </div>
                    <div class="form-group m-4">

                        <input asp-for="Location" class="form-control" placeholder="Your Services Available At Location(s) Eg:Leicester,Derby" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group m-4">
                        <input type="file" name="imagefile" 
                               />
                    </div>

                    @*<form asp-action="UploadImage"
                          asp-controller="Home"
                          method="post"
                          enctype="multipart/form-data">
                        <input type="file" id="file1"
                               name="file1"
                               multiple="multiple" />
                        <button type="submit">Upload File(s)</button>
                    </form>*@
                    <div class="form-group m-4 text-center justify-content-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
    @if (ViewData["planner"].ToString() == "PlannerUpdated")
    {
        <h4 class="text-center m-5">Your Details</h4>
        <div class=" justify-content-center text-center">
            <dl class="row text-center">
                <dd class="col-12">
                    @if (Model.Imageurl != null)
                    {
                        <img src=@Model.Imageurl alt="~/images/image1.png" width="40%" />

                    }
                    else
                    {
                        <img src="~/images/image1.png" alt="~/images/image1.png" width="40%"/>
                    }

                </dd>
                <dt class="col-sm-5  mb-3">
                    @Html.DisplayNameFor(model => model.PlannerName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.PlannerName)
                </dd>
                <dt class="col-sm-5 mb-3">
                    @Html.DisplayNameFor(model => model.About)
                </dt>
                <dd class="col-sm-7 text-wrap" style="word-wrap: break-word">
                    @Html.DisplayFor(model => model.About)
                </dd>
                <dt class="col-sm-5 mb-3">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Location)
                </dd>
                
            </dl>
            <div class=" row justify-content-center text-center">
                <a asp-action="Edit" asp-route-id="@Model.PlannerId" class="btn btn-success m-3">Edit</a>
                <a asp-action="Index" class="btn btn-success m-3">Back</a>
            </div>
        </div>
    }

</div>
   


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
